{% extends 'base.html' %}
{% block main_content %}
{#    For each cafe make card if signed in edit #}
    <main class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for cafe in cafes_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ cafe.img_url }}" alt="Image for {{ cafe.name }}" >

            <div class="card-body">
                <h5 class="card-title">{{ cafe.name }}</h5>
              <p class="card-text">{{ cafe.location }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </main>
{% endblock %}